* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: #1A1A1A;
}

.contentMain {
  
  max-width: 736px;
  margin: 0 auto;
}

.headerLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 72px 0 80px;
  background: #0D0D0D;
}

.field {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-top: -27px;
}

.inputTodo {
  font-size: 16px;
  background: #262626;
  color: #808080;
  border: 0;
  border-radius: 8px;
  padding: 16px;
  width: 100%;
}

.btnCreate {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  background: #1E6F9F;
  color: #F2F2F2;
  font-weight: bold;
  border: 0;
  padding: 16px;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    opacity: .9;
  }
}

.todoSection {
  margin-top: 64px;
  .todos {
    display: flex;
    justify-content: space-between;

    .createdTodo {
      display: flex;
      gap: 8px;
      .textCreatedTodo {
        font-weight: bold;
        color: #4EA8DE;
      }
      .numberCreatedTodo {
        padding: 2px 8px;
        border-radius: 99px;
        background: #333333;
        color: #F2F2F2;
      }
    }

    .finishedTodo {
      display: flex;
      gap: 8px;
      .textFinishedTodo {
        font-weight: bold;
        color: #8284FA;
      }
      .numberFinishedTodo {
        padding: 2px 8px;
        border-radius: 99px;
        background: #333333;
        color: #F2F2F2;
      }
    }
  }
  .tasksSection {
    display: flex;
    align-items: center;
    justify-content:center;

    .emptyTasks {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 64px;
      color: #808080;
      > p {
        margin-top: 16px;
      }
    }
  }
  .tasks {
    margin-top: 24px;
  }
}